Pillow~=9.1.1
numpy==1.23.0
scipy~=1.8.1
sklearn~=0.0
scikit-learn~=1.1.1
matplotlib~=3.5.2
seaborn~=0.11.2
networkx~=2.8.4
python-dateutil==2.8.2
python-docx==0.8.11
memory-profiler==0.60.0
charset-normalizer==2.1.0
